<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate"/>
    <meta http-equiv="expires" content="Wed,26 Feb 1997 08:21:57 GMT"/>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <link href="/static/img/pass.png" rel="shortcut icon"/>
    {% block head %}
    <title>社会工程学密码生成器-首页</title>
    <link rel="stylesheet" href="/static/css/index.css">
    {% endblock %}
</head>
<body>

<div class="layui-header header header-doc" style="background-color: #393D49;">
    <div class="layui-main">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item">
                <a href="/">
                    <img src="/static/img/psu.jpg" alt="" class="layui-nav-img" style="margin: 0 10px">
                </a>
            </li>
            <li class="layui-nav-item"><a href="/" id="index">主页</a></li>
            <li class="layui-nav-item"><a href="/common" id="common">常用密码</a></li>
            <li class="layui-nav-item"><a
                    href="https://github.com/zgjx/SocialEngineeringDictionaryGenerator/blob/master/README.md" id="help">帮助</a>
            </li>
            <a href="https://github.com/zgjx/SocialEngineeringDictionaryGenerator/">
                <li class="layui-nav-item" style="position: absolute;right: 0;top: 0;color: #e8e8e8">
                    <i class="layui-icon" style="margin: 0 5px">&#xe60b;</i>社会工程学密码生成器
                </li>
            </a>
        </ul>
        {% block content %}
        <div id="app">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <hr>
                    <form class="layui-form" action="" onsubmit="return false">
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="firstName" v-model="firstName" placeholder="请输入姓(英文)"
                                       lay-verify="string"
                                       autocomplete="on" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="secondName" v-model="secondName" placeholder="请输入名的第一个字(英文)"
                                       autocomplete="on" lay-verify="string"
                                       class="layui-input">
                            </div>
                            <div class="layui-input-inline" style="width: 400px">
                                <input type="text" name="thirdName" v-model="thirdName"
                                       placeholder="请输入名的第二个字(如果有，否则不用输入，英文)" autocomplete="on" lay-verify="string"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">生日</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="birthday" lay-verify="mydate"
                                       placeholder="公历生日">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="birthday2" lay-verify="mydate"
                                       placeholder="农历生日">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">Email</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" v-model="email" placeholder="请输入邮箱" autocomplete="on"
                                       lay-verify="myemail"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="telephone" v-model="telephone" placeholder="请输入座机"
                                       autocomplete="on" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="mobilephone" v-model="mobilephone" placeholder="请输入手机"
                                       lay-verify="myphone"
                                       autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userName" v-model="userName" placeholder="请输入常用用户名(英文)"
                                       autocomplete="on" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="account" v-model="account" placeholder="请输入常用用户账号"
                                       autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">QQ号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="qq" v-model="qq" placeholder="请输入QQ号" autocomplete="on"
                                       lay-verify="number"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">组织</label>
                            <div class="layui-input-inline">
                                <input type="text" name="organization" v-model="organization" placeholder="请输入组织名(英文)"
                                       autocomplete="on"
                                       class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="company" v-model="company" placeholder="请输入公司名(英文)"
                                       autocomplete="on" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item" v-if="seen">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="password" v-model="password" placeholder="请输入常用密码"
                                       autocomplete="on" class="layui-input" disabled="disabled">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="password2" v-model="password2" placeholder="请输入常用密码2"
                                       autocomplete="on" disabled="disabled"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">短语</label>
                            <div class="layui-input-inline">
                                <input type="text" name="likeuse" v-model="likeuse" placeholder="请输入常用短语(英文)"
                                       autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">身份证号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="idcard" v-model="idcard" placeholder="请输入身份证号"
                                       lay-verify="myidentity"
                                       autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">工号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="workNo" v-model="workNo" placeholder="请输入工号" autocomplete="on"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" v-if="seen">
                            <label class="layui-form-label">第二人姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="firstName2" v-model="firstName2" placeholder="请输入姓(英文)"
                                       lay-verify="string"
                                       autocomplete="on" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="secondName2" v-model="secondName2" placeholder="请输入名的第一个字(英文)"
                                       lay-verify="string"
                                       autocomplete="on" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="thirdName2" v-model="thirdName2" lay-verify="string"
                                       placeholder="请输入名的第二个字(如果有，否则不用输入，英文)" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" v-if="seen">
                            <label class="layui-form-label">第二人生日</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="birthday3" placeholder="公历生日"
                                       lay-verify="mydate">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="birthday4" placeholder="农历生日"
                                       lay-verify="mydate">
                            </div>
                        </div>
                        <div class="layui-form-item" v-if="seen">
                            <label class="layui-form-label">连接符</label>
                            <div class="layui-input-inline">
                                <input type="text" name="connector" v-model="connector" placeholder="请输入常用连接符"
                                       autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">过滤纯数字</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="switch" lay-skin="switch" lay-text="开启|关闭"
                                       id="numberFilter">
                            </div>
                            <label class="layui-form-label">过滤纯字母</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="switch" lay-skin="switch" lay-text="开启|关闭"
                                       id="stringFilter">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">过滤长度小于</label>
                            <div class="layui-input-inline" style="width: 70px;">
                                <input type="checkbox" name="switch" lay-skin="switch" lay-text="开启|关闭"
                                       id="shortFilter" checked>
                            </div>
                            <div class="layui-input-inline" style="width: 110px;">
                                <input type="text" v-model="short" value="6" class="layui-input" id="short"
                                       lay-verify="number">
                            </div>
                            <label class="layui-form-label">过滤长度大于</label>
                            <div class="layui-input-inline" style="width: 70px;">
                                <input type="checkbox" name="switch" lay-skin="switch" lay-text="开启|关闭"
                                       id="longFilter" checked>
                            </div>
                            <div class="layui-input-inline" style="width: 110px;">
                                <input type="text" v-model="long" value="16" class="layui-input" id="long"
                                       lay-verify="number">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="form" v-on:click="get">提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary" lay-filter="init"
                                        v-on:click="init">重置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-col-md4 result">
                    <label class="layui-form-label">一阶密码</label>
                    <button class="layui-btn layui-btn-primary" v-on:click="copy('result')">复制</button>
                </div>
                <div class="layui-col-md4 result">
                    <label class="layui-form-label">二阶密码</label>
                    <button class="layui-btn layui-btn-primary" v-on:click="copy('result2')">复制</button>
                </div>
                <div class="layui-col-md4 result">
                    <label class="layui-form-label">三阶密码</label>
                    <button class="layui-btn layui-btn-primary" v-on:click="copy('result3')">复制</button>
                </div>
                {% raw %}
                <div class="layui-col-md4 result">
                    <textarea id="result" class="layui-textarea">{{ result }}</textarea>
                </div>
                <div class="layui-col-md4 result">
                    <textarea id="result2" class="layui-textarea">{{ result2 }}</textarea>
                </div>
                <div class="layui-col-md4 result">
                    <textarea id="result3" class="layui-textarea">{{ result3 }}</textarea>
                </div>
                {% endraw %}
            </div>
        </div>
        {% endblock %}
    </div>
</div>
</body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/vue-resource.js"></script>
<script src="/static/js/layui/layui.js"></script>
{% block js %}
<script src="/static/js/index.js"></script>
{% endblock %}
</html>